@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply flex bg-background text-foreground;
  }

  body::after {
    content: "";
    position: fixed;
    background-image: url(/images/noise.webp);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    inset: 0;
    opacity: 0.75;
    z-index: 100;
    pointer-events: none;
  }

  .transition-all,
  .transition-opacity {
    @apply motion-reduce:!transition-none;
  }

  ::selection {
    @apply bg-primary/80 text-primary-foreground;
  }
}

@layer components {
  .link {
    @apply text-primary focus-visible:outline-offset-4 rounded focus-visible:outline-1 outline-ring;
  }

  .card {
    @apply bg-card border rounded-lg p-8;
  }

  #project:nth-child(even) > img {
    transform: perspective(1000px) rotateY(-13deg) rotateX(5deg) rotate(1deg)
      scaleY(0.9) scaleX(0.95) translate(-3%) translateY(-3%);
  }

  #project:nth-child(odd) > img {
    transform: perspective(1000px) rotateY(13deg) rotateX(5deg) rotate(1deg)
      scaleY(0.9) scaleX(0.95) translate(3%) translateY(-3%);
  }

  #project > img {
    transition: transform 0.4s ease !important;
  }

  #project > img:hover {
    transform: none;
  }
}
